.about-section {
  background-color: var(--bg-primary);
}

/* .about-content {
  display: flex;
  flex-direction: row;
} */

.about-description-title {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  color: var(--text-tertiary);
  margin-bottom: 2rem;
}

.about-description-title span {
  color: var(--color-primary);
}
/* .about-section-title::after {
  content: "";
  position: absolute;
  width: 100%;
  max-width: 4.7rem;
  border-bottom: 1px solid var(--text-primary);
  left: 6rem;
  bottom: -5.9rem;
} */

/* .about-line {
  display: block;
  width: 100%;
  max-width: 4.2rem;
  border-bottom: 1px solid var(--text-primary);
  margin-bottom: 2rem;
} */

.about-description {
  width: 100%;
  font-family: var(--font-secondary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  line-height: 1.5rem;
  color: var(--text-secondary);
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 40rem;
}

/* .about-content-description {
  padding: 2.25rem 1.25rem;
  border-radius: 1.25rem;
  background-color: rgba(var(--bg-card), 0.36);
  border: 1px solid rgba(var(--border-color-rgb), 0.45);
  border-radius: 1.25rem;
} */

.about-cards-content {
  margin-top: 4rem;
}

.about-card {
  padding: 1.25rem;
  margin-top: 1rem;
  background-color: rgba(var(--bg-card), 0.36);
  border: 1px solid rgba(var(--border-color-rgb), 0.45);
  border-radius: 1.25rem;
}

.about-card p {
  width: 100%;
  font-family: var(--font-secondary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  line-height: 1.5rem;
  color: var(--text-secondary);
}

.about-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  gap: 1rem;
}

.about-card-header h3 {
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
}

.about-card-icon {
  display: flex;
  justify-content: center;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 3.125rem;
  height: 100%;
  max-height: 3.125rem;
  padding: 0.5rem;
}

@media (min-width: 320px) {
  .about-description {
    font-size: var(--font-size-base);
    margin-bottom: 3.125rem;
  }
  .about-card-header h3 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
  }
  .about-card-icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 0.725rem;
  }

  .about-card-icon img {
    margin: 0 auto;
  }
  .about-card p {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 425px) {
  .about-description {
    margin-bottom: 3.125rem;
  }

  .about-card-icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 0.725rem;
  }

  .about-card-header h3 {
    font-size: var(--font-size-md);
  }

  .about-card p {
    font-size: var(--font-size-base);
  }
}

@media (min-width: 768px) {
  /* .about-content {
    display: flex;
    flex-direction: column;
  } */
  .about-description {
    width: 100%;
    max-width: 40rem;
  }

  /* .about-section-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}
