.experience-section {
  background-color: var(--bg-secondary);
}

.experience-content h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-normal);
  color: var(--text-tertiary);
  text-align: center;
  margin-bottom: 2rem;
}

.experience-content h2 span {
  color: var(--color-primary);
}

.experience-description {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.experience-decoration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-decoration {
  display: block;
  width: 14px;
  height: 14px;
  background-color: var(--color-primary);
  border-radius: 50%;
}

.line-decoration {
  display: block;
  position: relative;
  width: 1px;
  height: 105%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-10%);
  background-color: var(--color-primary);
}

.company-name {
  display: flex;
  align-content: center;
  justify-content: start;
  margin-bottom: 8px;
  gap: 10px;
}

.company-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  width: 2rem;
  background-color: rgba(var(--color-primary-rgb), 0.45);
  border-radius: 6px;
}

.company-description p,
.company-job-description p {
  margin-top: 0.625rem;
}

.company-description h3,
.company-job-description h3 {
  display: flex;
  align-items: center;
  font-family: var(--font-quaternary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--text-primary);
}

.company-description span {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary);
}

.company-job-description p {
  max-width: 500px;
  font-family: var(--font-secondary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-align: left;
  margin-bottom: 2rem;
}

@media (min-width: 320px) {
  .experience-description {
    display: grid;
    grid-template-columns: 40px 2fr;
    gap: 15px;
    margin: 5rem 0 0 0;
  }

  .experience-decoration,
  .decoration-content {
    grid-column: 1;
    grid-row: 1 / -1;
    margin-top: -30px;
  }

  .company-job-description {
    grid-column: 2;
    grid-row: 2;
  }
}
