.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: clamp(300px, 65vw, 1200px);
  height: 3.25rem;
  background-color: rgba(var(--bg-card-rgb), 0.36);
  border: 1px solid rgba(var(--border-color-rgb), 0.45);
  border-radius: 1.875rem;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 4.25rem;
  padding: 1rem;
}

.nav-links.open {
  position: fixed;
  width: 70%;
  height: 104vh;
  top: calc(100% - 4rem);
  right: -14px;
  background-color: var(--color-tertiary);
  z-index: 500;
}

.nav-links.open ul {
  margin-top: 3.2rem;
}

.nav-links.open li {
  margin: 1.25rem 0.625rem;
  padding: 10px;
  text-align: left;
}

.nav-links.open li:hover {
  border-radius: 8px;
  background-color: var(--bg-card-segundary);
}

.nav-links li a {
  text-decoration: none;
  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--color-primary);
}

/*Botão Menu*/
.btn-menu {
  width: 100%;
  max-width: 2rem;
  max-height: 2rem;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-close {
  display: block;
  position: relative;
  background: none;
  cursor: pointer;
  border: none;
  right: -20px;
  /* margin-left: 17rem;
  margin-top: 1.8rem; */
  /* top: calc(100% - 4rem); */
  width: 4rem;
  z-index: 700;
}

.btn-close img {
  height: 1.8rem;
  /* width: 2rem; */
}

.decoration-line {
  /* content: "";*/
  position: relative;
  display: block;
  /* right: 0;*/
  width: 24rem;
  height: 0.325rem;
  margin-top: 3.2rem;
  background-color: aqua;
}

/*Logo*/
.logo {
  height: 2.85rem;
  cursor: pointer;
}

@media (min-width: 320px) {
  .nav-links {
    display: none;

    /* margin-right: 15px; */
  }

  .nav-links.open {
    display: block;
  }

  .btn-close {
    margin-top: 10px;
    width: 100%;
    text-align: end;
    padding-right: 38px;
    /* margin-left: 9rem; */
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 97vw;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .logo,
  .overlay,
  .btn-menu,
  .nav-links.open,
  .btn-close {
    display: none;
  }

  .nav-links {
    display: block;
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    gap: 3.87rem;
    padding: 1rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: clamp(300px, 80vw, 1000px);
  }
}
