:root {
  /*Cores Principais*/
  --color-primary: #6f8bbe;
  --color-secundary: #1f3151;
  --color-tertiary: #1a202b;

  --color-primary-rgb: 111, 139, 190;

  /*Fundos*/
  --bg-primary: #010407;
  --bg-secondary: #04060a;
  --bg-primary-rgb: 1, 4, 7;
  --bg-secondary-rgb: 3, 5, 7;

  --bg-card: #151724;
  --bg-card-segundary: #2a2f39;
  --bg-card-tertiary: #03050a;

  --bg-card-rgb: 21, 23, 36;
  --bg-card-segundary-rgb: 42, 47, 57;

  /*Borda*/
  --border-color-rgb: 42, 47, 57;

  /*Texto*/
  --text-primary: #adbedd;
  --text-secondary: #797979;
  --text-tertiary: #cad3e5;

  /*Tipografia*/
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-tertiary: "Inter", sans-serif;

  /*Pesos*/
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*Tamanhos*/
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-2xl: 2.5rem; /* 40px */
  --font-size-3xl: 3.5rem; /* 56px */

  /*Linha*/
  --line-height-small: 1.2;
  --line-height-medium: 1.4;
  --line-height-large: 1.6;
}
